{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h3>User: {{ name[0]['username'] }}</h3>
    <p></p>
    <form action="/account" method="post">
        <h5>Change password</h5>
        <p></p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="password" name="old_pass" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_pass" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
