{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Buy Stock</h1>
    <p></p>
    <div class="mb-3">
        <form action="/buy" method="post">
            <label for="exampleFormControlInput1" class="form-label">Stock Symbol</label>
            <input name=symbol class="form-control-sm" list="datalistOptions" id="exampleDataList" placeholder="Ex: TSLA">
            <datalist id="datalistOptions">
                <option value="NFLX">
                <option value="AAPL">
                <option value="AMZN">
                <option value="MSFT">
                <option value="GOOGL">
                <option value="META">
                <option value="TSLA">
                <option value="JPM">
                <option value="JNJ">
                <option value="NVDA">
                <option value="V">
            </datalist>
            <div>
                <label for="exampleFormControlInput1" class="form-label">Shares</label>
                <input type="number" min="1" class="form-control-sm" id="exampleFormControlInput1" name="shares" placeholder="Ex: 1">
            </div>
            <button class="btn btn-primary" type="submit">BUY NOW</button>
        </form>

    </div>
{% endblock %}
