{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-start">Transacted</th>
        </tr>
    </thead>
    <tbody>

        {% for purchase in rows %}
        <tr>
            <td class="text-start">{{ purchase["symbol"] }}</td>
            <td class="text-start">{{ purchase["shares"] if purchase["shares_bought"] > 0 else -purchase["shares"]  }}</td>
            <td class="text-end">{{ purchase["price"] }}</td>
            <td class="text-end">{{ purchase["timestamp"] }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}