{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Stock Quote</h1>
    <p></p>
    <div class="mb-3">
        <form action="/quote" method="post">
            <label for="exampleFormControlInput1" class="form-label">Stock Symbol</label>
            <input name=symbol class="form-control-sm" list="datalistOptions" class="italic" id="exampleDataList" placeholder="Ex: TSLA">
            <datalist id="datalistOptions">
                <option value="NFLX">
                <option value="AAPL">
                <option value="AMZN">
                <option value="MSFT">
                <option value="GOOGL">
                <option value="META">
                <option value="TSLA">
                <option value="JPM">
                <option value="JNJ">
                <option value="NVDA">
                <option value="V">
            </datalist>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
{% endblock %}
