{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Stock Quote</h1>
    <p></p>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Stock Symbol</label>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="TSLA">
        <datalist id="datalistOptions">
            <option value="San Francisco">
            <option value="New York">
            <option value="Seattle">
            <option value="Los Angeles">
            <option value="Chicago">
        </datalist>
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
{% endblock %}
