{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <select class="form-select-sm" aria-label="Default select example">
        <option selected disabled>Symbol</option>

        {% for every purhcase in purchases %}
        <option value="1">{purchase["symbol"]}</option>
        {% endfor %}

    </select>

    <form action="/buy" method="post">
        <input type="number" min="1" class="form-control-sm" id="exampleFormControlInput1" name="shares" placeholder="1">
    </form>

{% endblock %}
