{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell Stock</h1>
    <form action="sell" method="post" >
        <select  class="form-select-sm" aria-label="Default select example" name="symbol">
            <option selected disabled>Symbol</option>

            {% for share in shares %}
            <option>{{ share['symbol'] }}</option>
            {% endfor %}

        </select>

        <p></p>

            <input type="number" min="1" class="form-control-sm" id="exampleFormControlInput1" placeholder="Ex: 1" name="shares">
        <p></p>
            <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
