*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: 10rem;
}

.text {
    vertical-align: top;
}

.cursor{
    display: inline-block;
    background-color: #000;
    width: .8em;
    height: 2px;
    position: relative;
    margin-top: .92em;
    opacity: 1;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

main{
    min-height: calc(100vh - 65px);
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 65px;
    position: relative;
}
section {
    margin-bottom: 10rem;
    margin-top: 10rem;
    text-align: center;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 10000% 20%;
    border-radius: 50%;
    border: 5px solid black;
}
.profile-image-container {
    width: 33.33%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-200%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav bar*/
nav{
    background: #e2e8f0;
    height: 65px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

label.logo{
    color: #122A4F;
    font-size: 20px;
    line-height: 65px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 5px;
}

nav ul li a{
    background-color: transparent;
    color: #122A4F;
    text-decoration: inherit;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #122A4F;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #122A4F;
    float: right;
    line-height: 65px;
    margin-right: 40px;
    cursor: pointer;
}


#check{
    display: none;
}

@media (min-width: 768px){
    .checkbtn{
        display:none;
    }
}

@media (max-width: 768px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav{
        text-align:center
    }
    label.logo{
        font-size: 25px;
        display: block;
        margin: 0 auto;
        line-height: 65px;

    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #28579D;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* #endregion */



