*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-style: normal;
}

nav{
    background: #e2e8f0;
    height: 65px;
    width: 100%;
}
label.logo{
    color: #122A4F;
    font-size: 20px;
    line-height: 65px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 65px;
    margin: 0 5px;
}

nav ul li a{
    background-color: transparent;
    color: #122A4F;
    text-decoration: inherit;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #122A4F;
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: #122A4F;
    float: right;
    line-height: 65px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 35em){
    .primary-navigation{
        position:fixed;
        inset: 0 0 0 30%;
        background: steelblue;
    }
    nav ul li a{
        font-size: 16px;
    }
    .checkbtn{
        display: none;
    }
}



@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #28579D;
    }
    #check:checked ~ ul{
        left: 0;
    }
}